[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = vimrc
[access "refs/*"]
	owner = group user/crubeido (crubeido)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/crubeido (crubeido)
	label-Verified = -1..+1 group user/crubeido (crubeido)
	push = group user/crubeido (crubeido)
	read = group user/crubeido (crubeido)
	rebase = group user/crubeido (crubeido)
	removeReviewer = group user/crubeido (crubeido)
	submit = group user/crubeido (crubeido)
[access "refs/heads/*"]
	create = group user/crubeido (crubeido)
	push = +force group user/crubeido (crubeido)
	pushMerge = group user/crubeido (crubeido)
	read = group user/crubeido (crubeido)
[access "refs/tags/*"]
	push = group user/crubeido (crubeido)
	push = +force group user/crubeido (crubeido)
